.friends-section {
  border-top: 1px solid #eee;
  padding: 8px 0;
}
.friends-section__category {
  color: var(--darkgray);
  font-size: 0.8em;
  font-weight: 500;
}
.user-component {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 0;
}
.user-component__img {
  flex-shrink: 0;;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
}
.user-component__me .user-component__img img {
  height: 160%;
  margin-left: -16%;
  margin-top: -10%;
}
.user-component__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.user-component__name {
  font-weight: 600;
}
.user-component__profile,
.user-component__message {
  color: var(--darkgray);
  font-size: 0.8em;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.user-component__music {
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 2px 8px;
  border-radius: 10px;
  border: 1px solid var(--purple);
}
.user-component__music > div {
  padding-top: 1px;
  max-width: 100px;
  font-size: 0.8em;
  color: var(--darkgray);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}
.user-component__music .fa-play-circle {
  color: var(--purple);
  cursor: pointer;
}

.user-component__time {
  justify-self: end;
  padding-bottom: 26px;
  font-size: 0.8em;
  color: var(--darkgray);
}

.user-component__channel .user-component__img{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--darkblue);
  font-size: 1.2em;
  font-family: 'Quicksand';
}
.chats-wrap .user-component__talky .user-component__img{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkblue);
}
.chats-wrap .user-component__talky .logo {
  color: #fff;
  font-size: 18px;
}
.chats-wrap .user-component__talky .logo::before,
.chats-wrap .user-component__talky .logo::after {
  transform: translateY(-10px);
  width: 3px;
  height: 3px;
}
.chats-wrap .user-component__talky .logo::before {
  right: 7px;
}
.chats-wrap .user-component__talky .logo::after {
  right: 1px;
}

.chats-wrap .user-component__me .user-component__name {
  position: relative;
  padding-left: 20px;
}
.chats-wrap .user-component__me .user-component__name::before {
  content: '나';
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px 0;
  width: 14px;
  text-align: center;
  color: #fff;
  font-size: 0.6em;
  font-weight: 400;
  background-color: var(--purple);
  border-radius: 50%;
}

.user-component.user-component__new-msg::after {
  content: '1';
  position: absolute;
  right: 0;
  top: 50%;
  padding: 3px 0;
  width: 16px;
  text-align: center;
  color: #fff;
  font-size: 0.6em;
  font-weight: 400;
  background-color: var(--yellow);
  border-radius: 50%;
}