.nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__btn {
  flex: 1;
  color: var(--darkgray);
  box-sizing: border-box;
}
.nav__btn .nav__link {
  display: block;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.nav__btn.nav__btn--on {
  position: relative;
  color: var(--darkblue);
}
.nav__btn.nav__btn--on::before{
  content: '';
  position:absolute;
  top: 8px;
  left: calc(50% - 2px);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--purple);
}