.status-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 3px;
  font-size: 0.8em;
}
.status-bar__column:last-child{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}